.containerWrapper {
  padding: 50px 40px;
  text-align: center;
  margin-right: 220px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
  max-width: 400px;
  height: 600px;
  padding: 30px;
  border-radius: 16px;
  background: url("/img/fooladi.jpeg") center center / cover no-repeat;
  overflow: hidden;
  color: white;
}

.container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 16px;
  z-index: 0;
}

.container > * {
  position: relative;
  z-index: 1;
}

.title {
  font-size: 28px;
  font-weight: 800;
}

.form {
  width: 100%;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  padding: 10px 10px 10px 70px;
  border-radius: 15px;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
  border: none;
}

.buttonInside {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f6b594;
  color: black;
  border: none;
  border-radius: 12px;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
  outline: none;
  border: none;
}

.buttonInside:hover {
  background-color: #ff9a68;
}

.result {
  margin-top: 20px;
  text-align: center;
}

.barakala {
  font-size: 8px;
  font-weight: bold;
  color: green;
}

.info {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.emoji {
  margin-bottom: -6px;
}
