.containerWrapper {
  padding: 50px 40px;
  text-align: center;
  margin-right: 220px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

:global(body.dark) .title {
  color: #fff;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.tabButton {
  padding: 10px 30px;
  background-color: #f6b594;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
  color: #000;
  font-weight: 500;
}

.tabButton:hover {
  background-color: #f4d3b2;
}

.activeTab {
  background-color: #ff9e6e;
}

.examGrid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.examGrid > * {
  flex: 1 1 calc(35% - 20px); /* two per row accounting for gap */
  max-width: calc(35% - 20px);
}
